<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/6d47fe5439.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/styles/nav.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="title-header"> <%= headerTitle %></h1>
        </div>
    </header>
</body>
</html>
